body { 
    margin: 0; padding: 0; 
}

#map { 
    position: absolute; top: 0; bottom: 0; width: 100%; 
}

.marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
    object-fit: cover;
    background-image: url('http://clipart-library.com/images_k/transparent-leaf-clip-art/transparent-leaf-clip-art-2.png');
    background-size: contain;
    background-repeat: no-repeat;
}